.dot {
  width: 6px;
  height: 6px;
  background: currentColor;
  display: inline-block;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  margin: 0px 2.5px;
  position: relative;
}

.dots-cont > .dot {
  position: relative;
  bottom: 0px;
  animation-name: jump;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}

.dots-cont .dot-1 {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.dots-cont .dot-2 {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.dots-cont .dot-3 {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.bg-zuma {
  background-color: #fb4602;
}

.label-font {
  font-weight: 600 !important;
}

.zuma-color {
  color: #fb4602;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
